<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>教学诊断与改进平台-门户导航</title>
    <link href="css/css.css" rel="stylesheet">
    <link href="assets/css/tabs/tabs-basic.css" rel="stylesheet">

</head>

<body style="background-image: linear-gradient(0deg,#FFF 0,#273ebe 1510%); padding-bottom:40px;">

    <!--header-->
    <div class="header">
        <div class="header-con">
            <div class="pertx"><span><img src="images/ne-tx.jpg"></span>
                <p>张里里</p><a id="loginout">安全退出</a>
            </div>
            <div class="logo"><span><img src="images/logo.png"></span>
                <h2>教学诊断与改进平台</h2>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <!--教学诊断-->
    <div class="con-width teaching">
        <div class="teach-con">
            <div class="tabs-basic">
                <div class="tit-h3">
                    <h3>教学诊断</h3>
                    <p>提升发现问题、质量监控的能力</p>
                </div>
                <ul class="table-ul">
                    <li>
                        <a class="tab-active" data-index="0" href="#">学校画像</a>
                    </li>
                    <li>
                        <a data-index="1" href="#">专业画像</a>
                    </li>
                    <li>
                        <a data-index="2" href="#">课程画像</a>
                    </li>
                    <li>
                        <a data-index="3" href="#">教师画像</a>
                    </li>
                    <li>
                        <a data-index="4" href="#">学生画像</a>
                    </li>
                </ul>

                <div class="tabs-content-placeholder">

                    <!--学校画像-->
                    <div class="tab-bao tab-content-active">
                        <div class="left-time">
                            <h3>信息更新时间：2018-01-22 17:35:20</h3>
                            <div class="shijian">2019</div>
                            <p><span></span>年度无变化指标<i>108</i>项目<a href="#">查看更多</a></p>
                        </div>
                        <ul class="one-con">
                            <li>
                                <h4>教学指标</h4>
                                <dl>
                                    <dd>
                                        <div class="one-dd-up"><span>上升</span><i>项</i></div>
                                        <p><a href="#">58</a></p>
                                    </dd>
                                    <dd>
                                        <div class="one-dd-do"><span>下降</span><i>项</i></div>
                                        <p><a href="#">106</a></p>
                                    </dd>
                                </dl>
                                <h5>*与上年度同期相比</h5>
                            </li>
                            <li>
                                <h4>历史最高(低)</h4>
                                <dl>
                                    <dd>
                                        <div class="one-dd-up"><span>最高</span><i>项</i></div>
                                        <p><a href="#">109</a></p>
                                    </dd>
                                    <dd>
                                        <div class="one-dd-do"><span>最低</span><i>项</i></div>
                                        <p><a href="#">56</a></p>
                                    </dd>
                                </dl>
                                <h5>*与历史所有年度相比</h5>
                            </li>
                            <li>
                                <h4>年度快速变化指标</h4>
                                <dl>
                                    <dd>
                                        <div class="one-dd-up"><span>速升</span><i>项</i></div>
                                        <p><a href="#">--</a></p>
                                    </dd>
                                    <dd>
                                        <div class="one-dd-do"><span>速降</span><i>项</i></div>
                                        <p><a href="#">26</a></p>
                                    </dd>
                                </dl>
                                <h5>*与历史变化均速相比</h5>
                            </li>
                            <li>
                                <h4>年度不合格指标</h4>
                                <dl>
                                    <dd>
                                        <div class="one-dd-up"><span>部标</span><i>项</i></div>
                                        <p><a href="#">--</a></p>
                                    </dd>
                                    <dd>
                                        <div class="one-dd-do"><span>校标</span><i>项</i></div>
                                        <p><a href="#">88</a></p>
                                    </dd>
                                </dl>
                                <h5>*与现行标准相比</h5>
                            </li>
                            <li>
                                <h4>年度变化情况</h4>
                                <dl>
                                    <dd>
                                        <div class="one-dd-up"><span>改善</span><i>项</i></div>
                                        <p><a href="#">--</a></p>
                                    </dd>
                                    <dd>
                                        <div class="one-dd-do"><span>恶化</span><i>项</i></div>
                                        <p><a href="#">--</a></p>
                                    </dd>
                                </dl>
                                <h5>*与历史变化均速相比</h5>
                            </li>
                        </ul>
                    </div>

                    <!--专业画像-->
                    <div class="tab-bao">

                        <div class="one-two-dl">
                            <div class="h3-top-f">
                                <h3 class="fou-tit">按快捷标签<span>查找专业</span></h3>
                            </div>
                            <dl>
                                <dd><a href="#">个体</a></dd>
                                <dd><a href="#">群体</a></dd>
                                <dt><span></span><a href="#">查看更多</a></dd>
                            </dl>
                        </div>
                        <ul class="one-two-ul">
                            <li class="one-two-aa">
                                <span><img src="images/pic01.jpg"></span>
                                <p>监控指标</p>
                                <i>上升项数TOP</i>
                                <p><a href="#">详细</a></p>
                            </li>
                            <li class="one-two-bb">
                                <span><img src="images/pic02.jpg"></span>
                                <p>监控指标</p>
                                <i>下降项数TOP</i>
                                <p><a href="#">详细</a></p>
                            </li>
                            <li class="one-two-cc">
                                <span><img src="images/pic03.jpg"></span>
                                <p>优势</p>
                                <i>指标数TOP</i>
                                <p><a href="#">详细</a></p>
                            </li>
                            <li class="one-two-dd">
                                <span><img src="images/pic04.jpg"></span>
                                <p>劣势</p>
                                <i>指标数TOP</i>
                                <p><a href="#">详细</a></p>
                            </li>
                        </ul>

                    </div>

                    <!--课程画像-->
                    <div class="tab-bao">

                        <div class="one-two-dl">
                            <div class="h3-top-f">
                                <h3 class="fou-tit">按快捷标签<span>查找课程</span></h3>
                            </div>
                            <dl>
                                <dd><a href="#">个体</a></dd>
                                <dd><a href="#">群体</a></dd>
                                <dt><span></span><a href="#">查看更多</a></dd>
                            </dl>
                        </div>
                        <ul class="one-two-ul">
                            <li class="one-two-aa">
                                <span><img src="images/pic01.jpg"></span>
                                <p>监控指标</p>
                                <i>上升项数TOP</i>
                                <p><a href="#">详细</a></p>
                            </li>
                            <li class="one-two-bb">
                                <span><img src="images/pic02.jpg"></span>
                                <p>监控指标</p>
                                <i>下降项数TOP</i>
                                <p><a href="#">详细</a></p>
                            </li>
                            <li class="one-two-cc">
                                <span><img src="images/pic03.jpg"></span>
                                <p>优势</p>
                                <i>指标数TOP</i>
                                <p><a href="#">详细</a></p>
                            </li>
                            <li class="one-two-dd">
                                <span><img src="images/pic04.jpg"></span>
                                <p>劣势</p>
                                <i>指标数TOP</i>
                                <p><a href="#">详细</a></p>
                            </li>
                        </ul>

                    </div>

                    <!--教师画像-->
                    <div class="tab-bao">

                        <div class="one-two-dl">
                            <div class="h3-top-f">
                                <h3 class="fou-tit">按快捷标签<span>查找教师</span></h3>
                            </div>
                            <dl>
                                <dd><a href="#">个人</a></dd>
                                <dd><a href="#">群体</a></dd>
                                <dt><span></span><a href="#">查看更多</a></dd>
                            </dl>
                        </div>
                        <ul class="one-two-ul">
                            <li class="one-two-aa">
                                <span><img src="images/pic01.jpg"></span>
                                <p>教学指标</p>
                                <i>上升项数TOP</i>
                                <p><a href="#">详细</a></p>
                            </li>
                            <li class="one-two-bb">
                                <span><img src="images/pic02.jpg"></span>
                                <p>教学指标</p>
                                <i>下降项数TOP</i>
                                <p><a href="#">详细</a></p>
                            </li>
                            <li class="one-two-cc">
                                <span><img src="images/pic03.jpg"></span>
                                <p>强项</p>
                                <i>指标数TOP</i>
                                <p><a href="#">详细</a></p>
                            </li>
                            <li class="one-two-dd">
                                <span><img src="images/pic04.jpg"></span>
                                <p>弱项</p>
                                <i>指标数TOP</i>
                                <p><a href="#">详细</a></p>
                            </li>
                        </ul>

                    </div>

                    <!--学生画像-->
                    <div class="tab-bao">

                        <div class="one-two-dl">
                            <div class="h3-top-f">
                                <h3 class="fou-tit">按快捷标签<span>查找学生</span></h3>
                            </div>
                            <dl>
                                <dd><a href="#">个体</a></dd>
                                <dd><a href="#">群体</a></dd>
                                <dt><span></span><a href="#">查看更多</a></dd>
                            </dl>
                        </div>
                        <ul class="one-two-ul one-two-ul-four">
                            <li class="one-two-aa">
                                <span><img src="images/pic00.jpg"></span>
                                <p>学业预警</p>
                                <i>-</i>
                                <p><a href="#">详细</a></p>
                            </li>
                            <li class="one-two-aa">
                                <span><img src="images/pic01.jpg"></span>
                                <p>监控指标</p>
                                <i>上升项数TOP</i>
                                <p><a href="#">详细</a></p>
                            </li>
                            <li class="one-two-bb">
                                <span><img src="images/pic02.jpg"></span>
                                <p>监控指标</p>
                                <i>下降项数TOP</i>
                                <p><a href="#">详细</a></p>
                            </li>
                            <li class="one-two-cc">
                                <span><img src="images/pic03.jpg"></span>
                                <p>强项</p>
                                <i>指标数TOP</i>
                                <p><a href="#">详细</a></p>
                            </li>
                            <li class="one-two-dd">
                                <span><img src="images/pic04.jpg"></span>
                                <p>弱项</p>
                                <i>指标数TOP</i>
                                <p><a href="#">详细</a></p>
                            </li>
                        </ul>

                    </div>

                </div>

            </div>
        </div>
        <div class="clear"></div>
    </div>

    <!--教学改进-->
    <div class="con-width improve">
        <div class="tit-h3">
            <h3><i></i>教学改进</h3>
            <p>提升解决问题、持续改进的能力</p>
        </div>
        <div class="clear"></div>
    </div>

    <div class="improve-con">
        <div class="improve-list">
            <ul>
                <li>
                    <a href="#" class="im-aa">
                        <dl>
                            <dt><span class="hotmen">热门</span></dt>
                                <dd>内部质量管理系统</dd>
                            </dl>
                            </a>
                            </li>
                            <li>
                                <a href="#" class="im-bb">
                                    <dl>
                                        <dt><span class="shengji">新升级</span></dt>
                                        <dd>教学质量评价系统</dd>
                                    </dl>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="im-cc">
                                    <dl>
                                        <dt></dt>
                                        <dd>专业、课程发展中心</dd>
                                    </dl>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="im-dd">
                                    <dl>
                                        <dt></dt>
                                        <dd>教师发展中心</dd>
                                    </dl>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="im-ee">
                                    <dl>
                                        <dt><span class="hotmen">热门</span></dt>
                                        <dd>学生发展中心</dd>
                                    </dl>
                                </a>
                            </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <!--教学应用-->
                    <div class="con-width application">
                        <div class="tit-h3">
                            <h3><i></i>教学应用</h3>
                            <p>采集过程性数据，提升过程监控的能力</p>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="application-con">
                        <div class="improve-list">
                            <ul>
                                <li>
                                    <a href="#" class="im-aa">
                                        <dl>
                                            <dt><img src="images/app-01.png"></dt>
                                            <dd>智慧课堂</dd>
                                        </dl>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="im-bb">
                                        <dl>
                                            <dt><img src="images/app-02.png"></dt>
                                            <dd>一体化教学资源平台</dd>
                                        </dl>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="im-cc">
                                        <dl>
                                            <dt><img src="images/app-03.png"></dt>
                                            <dd>智慧题库</dd>
                                        </dl>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="im-dd">
                                        <dl>
                                            <dt><img src="images/app-04.png"></dt>
                                            <dd>智慧考试</dd>
                                        </dl>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="im-ee">
                                        <dl>
                                            <dt><img src="images/app-05.png"></dt>
                                            <dd>课堂监控</dd>
                                        </dl>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <!--数据诊改-->
                    <div class="con-width diagnosis">
                        <div class="tit-h3">
                            <h3><i></i>数据诊改</h3>
                            <p>通过数据采集、补采、治理，全面助力学校诊改及信息化工作</p>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="diagnosis-con">
                        <div class="improve-list">
                            <ul>
                                <li>
                                    <a href="#" class="im-aa">
                                        <dl>
                                            <dt><img src="images/dia-01.png"></dt>
                                            <dd>诊断数据中心</dd>
                                        </dl>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="im-bb">
                                        <dl>
                                            <dt><img src="images/dia-02.png"></dt>
                                            <dd>数据采集平台</dd>
                                        </dl>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="im-cc">
                                        <dl>
                                            <dt><img src="images/dia-03.png"></dt>
                                            <dd>国家人才培养状态</br>平台数据对接系统</dd>
                                        </dl>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="im-dd">
                                        <dl>
                                            <dt><img src="images/dia-04.png"></dt>
                                            <dd>数据补采系统</dd>
                                        </dl>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <script src="js/jquery-1.11.0.min.js" type="text/javascript"></script>
                    <script src="js/common.js"></script>
                    <script>
                        $(function() {
                            if (localStorage.getItem('username').length == 0) {
                                window.location.href = '/login'
                                return
                            }
                            Aajax('/api/schoolBase', "get", function(res) {
                                if (res.code == 1) {
                                    console.log(res)
                                }
                            }, {})
                            var widget = $('.tabs-basic');
                            var tabs = widget.find('ul a'),
                                content = widget.find('.tabs-content-placeholder > div');
                            tabs.on('click', function(e) {
                                e.preventDefault();
                                var index = $(this).data('index');
                                tabs.removeClass('tab-active');
                                content.removeClass('tab-content-active');
                                $(this).addClass('tab-active');
                                content.eq(index).addClass('tab-content-active');
                            });

                            $('#loginout').click(function() {
                                Aajax('/api/loginout', "POST", function(res) {
                                    if (res.code == 1) {
                                        window.location.href = '/login'
                                        localStorage.setItem('username', '')
                                    }
                                }, {})
                            })
                        })
                    </script>
</body>

</html>