<!DOCTYPE html>
<html lang="zh-CN"> 
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>专业师生自我诊断系统</title>
<link href="css/css.css" rel="stylesheet"> 
<link href="assets/css/tabs/tabs-basic.css" rel="stylesheet">
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
</head>

<body>

<!--header-->
	<div class="hea-zhuanye">
    	<div class="hea-zhuanye-con">
            <div class="pertx"><span><img src="images/ne-tx.jpg"></span><p>张里里</p><a href="#">安全退出</a></div>
            <div class="logo">
            <h2>专业师生自我诊断系统</h2>
            <ul>
            	<li><a href="#" class="hover">驾驶舱</a></li>
            	<li><a href="#">建设体系</a></li>
            	<li><a href="#">诊断分析</a></li>
            	<li><a href="#">专业总览</a></li>
            	<li><a href="#">教学团队</a></li>
            	<li><a href="#">诊断报告</a></li>
            </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>

<!--教学改进-->
	<div class="con-width zhuanyext">
    
    <div class="h3-list-tit">
		<!--开始-->
		<div class="nav_z">
			<ul id="navul" class="cl">
				<li class="tit-li-name">
					<span><a href="#">风速科技学院</a></span>
					<ul>
						<li><a href="#">风速科技学院</a></li>
						<li><a href="#">机电工程学院</a></li>
						<li><a href="#">汽车工程系</a></li>
						<li><a href="#">电子电气工程学院</a></li>
						<li><a href="#">信息工程系</a></li>
						<li><a href="#">化学工程系</a></li>
						<li><a href="#">制药与生物工程系</a></li>
 						<li><a href="#">建筑工程学院</a></li>
						<li><a href="#">会计学院</a></li>
						<li><a href="#">工商管理学院</a></li>
						<li><a href="#">旅游管理系</a></li>
						<li><a href="#">护理学院</a></li>
						<li><a href="#">医学技术学院</a></li>
						<li><a href="#">药学系</a></li>
						<li><a href="#">艺术设计系</a></li>
						<li><a href="#">动漫艺术系</a></li>
						<li><a href="#">文化传媒系</a></li>
						<li><a href="#">艺术系</a></li>
						<li><a href="#">国际学院</a></li>
					</ul>
				</li>
				<li class="tit-li-name">
					<span><a href="#">2016-2017</a></span>
					<ul>
						<li><a href="#">2016-2017</a></li>
						<li><a href="#">2017-2018</a></li>
						<li><a href="#">2018-2019</a></li>
					</ul>
				</li>
			</ul>
		</div><!--结束-->
		<script type="text/javascript"  src="js/nav.js"></script>
		<script  type="text/javascript"> 
		$(".navbg").capacityFixed();
		</script>
    
        <p>专业数：</p><i>66</i>
        
        <div class="old-row">
      <input type="text" name="username" placeholder="请输入专业代码/名称查询" autocomplete="off">
      <button lay-submit="" lay-filter="sreach">搜索</button>
        </div> 
                   
        </div>
        
		<div class="zhuanyext-sou">
			<dl>
            	<dt><ul>
                	<li><p>类型</p></li>
                	<li><p>拟建设</p></li>
                	<li><p>目标达成度</p></li>
                	<li><p>已建设</p></li>
                </ul></dt>
            	<dd><a href="#"><ul>
                	<li><p>国家级重点专业</p></li>
                	<li><p>12</p></li>
                	<li>
                    <div><p><span>71.33%<i class="zhuan-s-d">当前</i></span></p>
                    <p><span>71.33%<i class="zhuan-s-up">同比上年</i></span><p></div>
                    </li>
                	<li><p>8</p></li>
                </ul></a>
                <a href="#"><ul>
                	<li><p>国家级重点专业</p></li>
                	<li><p>12</p></li>
                	<li>
                    <div><p><span>71.33%<i class="zhuan-s-d">当前</i></span></p>
                    <p><span>71.33%<i class="zhuan-s-down">同比下降</i></span><p></div>
                    </li>
                	<li><p>8</p></li>
                </ul></a>
                <a href="#"><ul>
                	<li><p>国家级重点专业</p></li>
                	<li><p>12</p></li>
                	<li>
                    <div><p><span>71.33%<i class="zhuan-s-d">当前</i></span></p>
                    <p><span>71.33%<i class="zhuan-s-up">同比上年</i></span><p></div>
                    </li>
                	<li><p>8</p></li>
                </ul></a><a href="#"><ul>
                	<li><p>国家级重点专业</p></li>
                	<li><p>12</p></li>
                	<li>
                    <div><p><span>71.33%<i class="zhuan-s-d">当前</i></span></p>
                    <p><span>71.33%<i class="zhuan-s-up">同比上年</i></span><p></div>
                    </li>
                	<li><p>8</p></li>
                </ul></a><a href="#"><ul>
                	<li><p>国家级重点专业</p></li>
                	<li><p>12</p></li>
                	<li>
                    <div><p><span>71.33%<i class="zhuan-s-d">当前</i></span></p>
                    <p><span>71.33%<i class="zhuan-s-up">同比上年</i></span><p></div>
                    </li>
                	<li><p>8</p></li>
                </ul></a><a href="#"><ul>
                	<li><p>国家级重点专业</p></li>
                	<li><p>12</p></li>
                	<li>
                    <div><p><span>71.33%<i class="zhuan-s-d">当前</i></span></p>
                    <p><span>71.33%<i class="zhuan-s-up">同比上年</i></span><p></div>
                    </li>
                	<li><p>8</p></li>
                </ul></a></dd>
            </dl>
        </div>
        <div class="clear"></div>
    </div>

	<div class="zhuanyext-con">
        <div class="zhuanyext-list">

<div class="jianshitixi">
	<h3><i></i>建设体系</h3>
    <div class="jstx-con">
		<div class="jcon-list">
        d
        </div>
		<div class="jcon-list">
        d
        </div>
		<div class="jcon-list">
        d
        </div>
		<div class="jcon-list">
        d
        </div>
		<div class="jcon-list">
        d
        </div>
		<div class="jcon-list">
        d
        </div>
		<div class="jcon-list">
        d
        </div>
    </div>
</div>

<div class="kechengmenshu">
	<h3><i></i>课程<span>150</span>门</h3>
    <div class="kcms-con">
		<div class="zhuanyext-sou">
			<dl>
            	<dt><ul>
                	<li><p>类型</p></li>
                	<li><p>拟建设</p></li>
                	<li><p>目标达成度</p></li>
                	<li><p>已建设</p></li>
                </ul></dt>
            	<dd><a href="#"><ul>
                	<li><p>国家级重点专业</p></li>
                	<li><p>12</p></li>
                	<li>
                    <div><p><span>71.33%<i class="zhuan-s-d">当前</i></span></p>
                    <p><span>71.33%<i class="zhuan-s-up">同比上年</i></span><p></div>
                    </li>
                	<li><p>8</p></li>
                </ul></a>
                <a href="#"><ul>
                	<li><p>国家级重点专业</p></li>
                	<li><p>12</p></li>
                	<li>
                    <div><p><span>71.33%<i class="zhuan-s-d">当前</i></span></p>
                    <p><span>71.33%<i class="zhuan-s-down">同比下降</i></span><p></div>
                    </li>
                	<li><p>8</p></li>
                </ul></a>
                <a href="#"><ul>
                	<li><p>国家级重点专业</p></li>
                	<li><p>12</p></li>
                	<li>
                    <div><p><span>71.33%<i class="zhuan-s-d">当前</i></span></p>
                    <p><span>71.33%<i class="zhuan-s-up">同比上年</i></span><p></div>
                    </li>
                	<li><p>8</p></li>
                </ul></a><a href="#"><ul>
                	<li><p>国家级重点专业</p></li>
                	<li><p>12</p></li>
                	<li>
                    <div><p><span>71.33%<i class="zhuan-s-d">当前</i></span></p>
                    <p><span>71.33%<i class="zhuan-s-up">同比上年</i></span><p></div>
                    </li>
                	<li><p>8</p></li>
                </ul></a><a href="#"><ul>
                	<li><p>国家级重点专业</p></li>
                	<li><p>12</p></li>
                	<li>
                    <div><p><span>71.33%<i class="zhuan-s-d">当前</i></span></p>
                    <p><span>71.33%<i class="zhuan-s-up">同比上年</i></span><p></div>
                    </li>
                	<li><p>8</p></li>
                </ul></a><a href="#"><ul>
                	<li><p>国家级重点专业</p></li>
                	<li><p>12</p></li>
                	<li>
                    <div><p><span>71.33%<i class="zhuan-s-d">当前</i></span></p>
                    <p><span>71.33%<i class="zhuan-s-up">同比上年</i></span><p></div>
                    </li>
                	<li><p>8</p></li>
                </ul></a></dd>
            </dl>
        </div>
    </div>
</div>


<div class="mubiaodacheng">
	<h3><i></i>专业目标达成度</h3>
    <div class="mbdc-con">
		<div class="mbdc-list">
        d
        </div>
		<div class="mbdc-list">
        d
        </div>
		<div class="mbdc-list">
        d
        </div>
		<div class="mbdc-list">
        d
        </div>
		<div class="mbdc-list">
        d
        </div>
		<div class="mbdc-list">
        d
        </div>
		<div class="mbdc-list">
        d
        </div>
    </div>
</div>



<div class="zhibiaodacheng">
	<h3><i></i>专业目标达成度</h3>
    <div class="zbdc-con">
		<div class="zbdc-list">
        d
        </div>
		<div class="zbdc-list">
        d
        </div>
		<div class="zbdc-list">
        d
        </div>
		<div class="zbdc-list">
        d
        </div>
		<div class="zbdc-list">
        d
        </div>
		<div class="zbdc-list">
        d
        </div>
		<div class="zbdc-list">
        d
        </div>
		<div class="zbdc-list">
        d
        </div>
		<div class="zbdc-list">
        d
        </div>
		<div class="zbdc-list">
        d
        </div>
		<div class="zbdc-list">
        d
        </div>
    </div>
</div>

        </div>
        <div class="clear"></div>
    </div>




</body>

</html>