<!DOCTYPE html>
<html lang="zh-CN"> 
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>专业师生自我诊断系统</title>
<link href="css/css.css" rel="stylesheet"> 
<link href="assets/css/tabs/tabs-basic.css" rel="stylesheet">

</head>

<body>

<!--header-->
	<div class="hea-zhuanye">
    	<div class="hea-zhuanye-con">
            <div class="pertx"><span><img src="images/ne-tx.jpg"></span><p>张里里</p><a href="#">安全退出</a></div>
            <div class="logo">
            <h2>专业师生自我诊断系统</h2>
            <ul>
            	<li><a href="#" class="hover">驾驶舱</a></li>
            	<li><a href="#">建设体系</a></li>
            	<li><a href="#">诊断分析</a></li>
            	<li><a href="#">专业总览</a></li>
            	<li><a href="#">教学团队</a></li>
            	<li><a href="#">诊断报告</a></li>
            </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>

<!--con-->
	<div class="con-width zhuanyext">
		<div class="zhuanyext-sou">
				sdfdfsd
        </div>
        <div class="clear"></div>
    </div>

	<div class="zhuanyext-con">
        <div class="zhuanyext-list">
12
        </div>
        <div class="clear"></div>
    </div>




</body>

</html>